/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
	@extend .cf;
}
fieldset {
	border:0;
	padding:0;
}
.form__field {
	position:relative;
	margin-bottom:$base-spacing-unit / 2;
}

input,
button,
textarea {
	border: none;
	outline: none; }

textarea {
	min-height: 120px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form__input {
	vertical-align:top;
	padding:$half-spacing-unit;
	border:2px solid;
	border-radius:$brand-round;
	transition: background-color .2s;
	background-color:transparent;
}
.form__input--dark {
	border-color:$primary-dark;

	& + .form__btn {
		border-color:$primary-dark;
	}

	&::placeholder {
		color:$primary;
	}

	&:focus {
		background-color:white;

		& + .form__btn {
			background-color:$tertiary;

			&:hover {
				background-color:$tertiary;
			}
		}
	}

}
.form__input--light {
	border-color:$secondary;
	color:$secondary;

	& + .form__btn {
		color:$secondary;
		border-color:$secondary;

		&:hover {
			background-color:$secondary;
		}
	}

	&::placeholder {
		color:$secondary;
	}

	&:focus {
		background-color:$secondary;

		& + .form__btn {
			background-color:$secondary;

			&:hover {
				background-color:$secondary;
			}
		}
	}
}
.form__input--white {
	border-color:#fff;
	color:$secondary;
	background-color:#fff;

	& + .form__btn {
		color:#fff;
		border-color:#fff;

		&:hover {
			background-color:$secondary;
		}
	}

	&::placeholder {
		color:$secondary;
	}
}
.form__input--secondary {
	border-color:$secondary;
	color:$secondary;
	background-color:#fff;

	& + .form__btn {
		color:$secondary;
		border-color:$secondary;

		&:hover {
			background-color:$secondary;
			color:#fff;
		}
	}

	&::placeholder {
		color:$secondary;
	}
}
.form__input--full, .form__field--full {
	display:block;
	width:100%;
}
.form__input--half, .form__field--half {
	display:inline-block;
	width:50%;

	&:nth-of-type(odd) {
		padding-right:$base-spacing-unit / 2;
	}

	@include media-query(portable) {
		width:100%;
	}
}
.form__input--text, .form__input--textarea {
	cursor:text;
}
.form__label {
	font-weight:$medium;
	line-height: 2;
}
.form__btn {
	float:right;
	background-color:transparent;
  	border-color:$secondary;

  &:hover, &:active {
    box-shadow: inset 0 -72px rgba(white, .5);
  }
  
  &:active {
    box-shadow: inset 0 -72px rgba(white, .75), inset 0 72px rgba(white, .75);
  }
}
.form__btn--inline {
	position:absolute;
	top:0;
	right:0;
	line-height:inherit;
	height:100%;
	border-radius:0 $brand-round $brand-round 0;
}